
.error { color: red; }

.container,.container2{
    border: solid 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container1{
    border: solid 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}



.inputs { margin-bottom: 3px;}
.lab { margin-bottom: 3px;}